@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    
    <div class="col-md-3">
        <h2>Crud App</h2>
        <ul>
            <p> Deals</p>
        </ul>
    </div>
</div>
